@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    width: 100%;
    position: relative;
    color: #384769;
    font-family: "NanumSquare", sans-serif;
    height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #2e4c86;
    height: 60px;
    width: 100%;
}

.header-container div {
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.header-container div nav {
    width: 450px;
}

#logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
}

#logo:hover {
    color: #ffecb8;
    transition: 0.3s linear;
}

.nav__contents {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 700px;
}

.nav__contents li {
    display: flex;
    padding: 0;
}

.nav__contents--content {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 0.3rem;
    background: transparent;
    transition: 0.2s linear;
    color: #fff;
    font-size: 1.05rem;
    width: 100%;
    min-width: 50px;
    outline: none;
}

.nav__contents--content:hover {
    background: #ffffff27;
    transition: 0.2s linear;
    display: inline-block;
    outline: none;
}
.nav__contents--content:active {
    border: none;
    outline: none;
    transition: 0.2s linear;
    background: #ffffff5e;
}

#crms {
    text-indent: 1rem;
    font-weight: 900;
}

hr {
    border: none;
    border-bottom: 1px solid #bdbec2;
}

.section-container {
    background: rgb(241, 241, 241);
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
}

.section-container.mid {
    margin-top: 30px;
}

.content-container.top {
    margin-top: 50px;
}

.section__content-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1300px;
    padding: 80px;
}

.section {
    width: 50%;
    padding: 4rem;
    min-width: 250px;
}

.section p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section p img {
    width: 300px;
}

.content__title {
    font-size: 2rem;
    font-weight: 900;
    text-indent: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content {
    text-indent: 1.2rem;
    margin-top: 0.5rem;
    line-height: 1.3rem;
    margin: auto;
}

.section-botton--title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 70px;
}

/* BOTTOM */
.section__contents--dev {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
}

.dev-header {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.dev-header h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
}

.dev-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.dev-list li {
    box-sizing: border-box;
    margin: 0 auto;
}

.dev-image img {
    width: 250px;
}

.dev-info {
}
.dev-info--name {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 2rem;
    text-align: left;
    text-indent: 1rem;
}
.dev-info--info {
    display: block;
    font-size: 1.1rem;
    margin-top: 0.45rem;
    text-align: left;
    text-indent: 1rem;
    margin-bottom: 30px;
}

.dev-list {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    justify-content: space-evenly;
}

.dev-list-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.dev-list-person {
}

.person-img {
    width: 250px;
}

.person-name {
    text-indent: 1rem;
}

.person-info {
    text-indent: 1rem;
}

footer {
    position: relative;
    margin-top: 100px;
}

footer div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 100px;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 10px;
}
